<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155086493019-utbnb56dnvj2qff3j24qbbet6b6libo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155086493019-utbnb56dnvj2qff3j24qbbet6b6libo0</string>
	<key>API_KEY</key>
	<string>AIzaSyB68UOHFKslppAM5CIlrJH_9gZ9QN2VV-U</string>
	<key>GCM_SENDER_ID</key>
	<string>155086493019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demo.demo.demoApp</string>
	<key>PROJECT_ID</key>
	<string>proyectocopper</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectocopper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155086493019:ios:54175d1a66c6b54b67f67e</string>
</dict>
</plist>